body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    background-color:#D8D8D8;
=======
    background-color:#FFF5E4;
>>>>>>> d73901e1e9b47c6105ca7ce100b704174521a6be
    
    
}

form{
    padding: 55px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 4, 0.5);
    border-radius: 20px;
    text-align: center;
    width: 400px;
<<<<<<< HEAD
    background-color:#f7f6f4;
=======
>>>>>>> d73901e1e9b47c6105ca7ce100b704174521a6be
    
    
    
}
.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color: black;
<<<<<<< HEAD
    font-size: 40px;
    text-transform: capitalize;
    position: relative;
    bottom: 20px;
    

     font-weight: bold;
    background: #515151;
    border: 1PX solid #FFA725;
    padding: 1PX;
    margin: 10px;
    font-size: 40px;
}
span{
    color: #FFA725;
   
   
=======
    font-size: 35px;
    text-transform: capitalize;
    margin-top: -18px;
}
span{
    color: #FFA725;
>>>>>>> d73901e1e9b47c6105ca7ce100b704174521a6be
}

label{
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

input{
    padding: 14px 25px;
    border-radius: 20px;
    border: 0;
    outline: none;
    background-color: #e0e6e1;
    margin-bottom: 20px;
    color: black;
    outline: none;
}



.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form-txt a{
    color: black;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
}

.group-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
      
}

<<<<<<< HEAD
.btn_cuenta{
=======
.btn{
>>>>>>> d73901e1e9b47c6105ca7ce100b704174521a6be
    padding:9px 15px;
    font-size: 14px;
    border: 0;
    box-shadow: 0 0 20px rgba(41, 38, 38, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-in;
    border-radius: 40px;
    background-color: #FFA725;
<<<<<<< HEAD
    position: relative;
    margin-bottom: 20px;
    text-decoration: none;
}



=======
    left: 139px;
    position: relative;
}

>>>>>>> d73901e1e9b47c6105ca7ce100b704174521a6be
.btn:hover{
    background-color: chocolate;
    color: white;
    border-radius: 20px;
}